body{
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.center{
    height: 90vh;
}
.butt{
    display: block;
    height: 5vh;
    width: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color:yellow;
    
}
